---
import { ImageGenerator } from "@/components/ImageGenerator"
import { languageBootScript } from "@/components/image-generator/preferences"
import packageInfo from "../../package.json"
import "@/styles/global.css"

const appVersion = packageInfo.version
const githubUrl = "https://github.com/sunls24/scenemint"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" sizes="64x64" href="/favicon.png" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>SceneMint</title>
    <script is:inline set:html={languageBootScript}></script>
    <script
      is:inline
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"token": "82e9b6f424234f19a16c1bc554f3ca41"}'></script>
  </head>
  <body class="min-h-dvh overflow-x-hidden bg-background text-foreground antialiased xl:flex xl:h-dvh xl:flex-col xl:overflow-hidden">
    <ImageGenerator
      appVersion={appVersion}
      githubUrl={githubUrl}
      client:only="react"
    />
  </body>
</html>
